@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab:wght@700&family=Lobster+Two&family=Pacifico&family=Plus+Jakarta+Sans:wght@800&family=Sacramento&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab:wght@700&family=Lobster+Two&family=Mulish:wght@900&family=Pacifico&family=Plus+Jakarta+Sans:wght@800&family=Sacramento&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab:wght@700&family=Lobster+Two&family=Mulish:wght@900&family=Pacifico&family=Plus+Jakarta+Sans:wght@800&family=Sacramento&family=Teko:wght@500&family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab:wght@700&family=Lobster+Two&family=Manrope:wght@800&family=Mulish:wght@900&family=Pacifico&family=Plus+Jakarta+Sans:wght@800&family=Sacramento&family=Teko:wght@500&family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab:wght@700&family=Lobster+Two&family=Manrope:wght@800&family=Mulish:wght@900&family=Pacifico&family=Plus+Jakarta+Sans:wght@800&family=Sacramento&family=Teko:wght@500&family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab:wght@700&family=Jost:wght@300;400&family=Lobster+Two&family=Manrope:wght@800&family=Mulish:wght@900&family=Pacifico&family=Plus+Jakarta+Sans:wght@800&family=Sacramento&family=Teko:wght@500&family=Work+Sans:wght@600&display=swap');

body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding-left: 5%;
    padding-right: 0%;
    margin: 0%;
    
}

html body {
    max-width: 100%;
    overflow-x: hidden;
    }


.cvku {
    max-width: 90%;
    height: 100%;
    background-color: rgb(236, 236, 236);
    box-shadow: 0px 20px 20px 0px rgb(0, 0, 0);
    border: solid black 5px;
    color: black;
}

#pict {
    margin-left: 8%;
    margin-top: 5%;
    max-width: 60rem;
    max-height: 180px;
    background-color: rgb(113, 113, 113);
    
    
}

#pict img {
    box-shadow: 0px 5px 5px 0px rgb(70, 70, 70);
}

#line {
    margin-top: 2%;
    max-width: 80%;
    border-bottom: solid 5px rgb(26, 26, 26);
}

.nama {
    max-width: 5rem;
    float: right;
    margin-top: -12.5rem;
    margin-right: 35rem;
    font-size: 35px;
    line-height: 77px;
    font-family: 'Josefin Sans', sans-serif;
}

.nama span {
    color: rgb(222, 222, 222);
}

#title {
    max-width: 300px;
    height: 50px;
    color: rgb(0, 0, 0);
    margin-top: 10%;
    margin-left: 43%;
    font-family: 'Mulish', sans-serif;
    
}

#title h2{
    font-size: 20px;
    line-height: 47px;
}

#line2 {
    width: 94%;
    border-bottom: solid 5px rgb(26, 26, 26);   
    margin-top: 5%;
}

.deskripsi {
    width: 85%;
    height: 180vh;
    background-color: aliceblue;
    margin-left: 5%;
    margin-top: 10%;
    padding-left: 5%;
    padding-top: 3%;
    margin-bottom: 10%;
    font-family: 'Jost', sans-serif;
    color: black;
    box-shadow: 0px 9px 9px 0px grey;
}

.deskripsi img{
    max-width: 50px;
    height: 50px;
}

.deskripsi p{
    font-size: 3vh;
}


.deskripsi h1{
        font-family: 'Teko', sans-serif;
        font-weight: 900;
        letter-spacing: 1px;
        padding-bottom: 10px;
        color: rgb(0, 0, 58);
        font-size: 37px;
    
}

#profil {
    padding: 1em;
    max-width: 400px;
}

#edukasi img{
    width: 70px;
    height: 70px;
}

#edukasi {
    margin-top: 40px;
    padding: 10px;
    max-width: 420px;
    height: 300px;
    line-height: 10px;
}

#edukasi h2 {
    
    font-weight: bold;
    letter-spacing: 0px;
    padding-bottom: 10px;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
}

#contact ul li {
    display: inline-block;
    margin-left: 5rem;
    max-width: 250px;
    height: 170px;
    text-align: center;
    
}


#contact ul li p{
    font-size: 14px;
}

#contact ul li a img {
    transition: 0.7s;
}

#contact ul li a img:hover{
    transform: scale(1.5);
    transition: 0.7s;
}

#contact ul li img{
    width: 40px;
    height: 40px;
}

#line3 {
    min-height: 60%;
    max-width: 1px;
    border-left: solid 4px black;
    float: right;
    margin-top: -39rem;
    margin-right: 46.1%;
}

#pengalaman {
    float: right;
    max-width: 370px;
    margin-top: -47rem;
    margin-right: 5rem;
    
}

.list ul li {
    margin-top: 2rem;
    
}

.list ul li h1{
    font-size: 25px;
    color: rgb(26, 26, 100);
    line-height: 2rem;
}


/* For mobile phones*/

@media (max-width: 50em){
    body {
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        padding-left: 5%;
        padding-right: 0%;
        margin: 0%;
        
    }
    
    html body {
        width: 100%;
        overflow-x: hidden;
        }
    
    
    .cvku {
        max-width: 90%;
        height: 100%;
        background-color: rgb(236, 236, 236);
        box-shadow: 0px 20px 20px 0px rgb(0, 0, 0);
        border: solid black 5px;
        color: black;
    }
    
    #pict {
        margin-left: 3rem;
        margin-top: 2rem;
        max-width: 60rem;
        max-height: 100px;
        background-color: rgb(113, 113, 113);
        
        
    }
    
    #pict img {
        box-shadow: 0px 5px 5px 0px rgb(70, 70, 70);
        max-width: 12rem;
        max-height: 12rem;
    }
    
    #line {
        margin-top: 2%;
        max-width: 80%;
        border-bottom: solid 5px rgb(26, 26, 26);
    }
    
    .nama {
        max-width: 5rem;
        float: left;
        margin-top: -8.5rem;
        margin-left: 16rem;
        font-size: 2.7vh;
        line-height: 5.5vh;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    .nama span {
        color: rgb(222, 222, 222);
    }
    
    #title {
        max-width: 300px;
        height: 50px;
        color: rgb(0, 0, 0);
        margin-top: 10%;
        margin-left: 43%;
        font-family: 'Mulish', sans-serif;
        
    }
    
    #title h2{
        font-size: 1.5vh;
        line-height: 47px;
    }
    
    #line2 {
        width: 94%;
        border-bottom: solid 5px rgb(26, 26, 26);   
        margin-top: 5%;
    }
    
    .deskripsi {
        width: 85%;
        height: 100%;
        background-color: aliceblue;
        margin-left: 5%;
        margin-top: 10%;
        padding-left: 5%;
        padding-top: 3%;
        margin-bottom: 10%;
        font-family: 'Jost', sans-serif;
        color: black;
        box-shadow: 0px 9px 9px 0px grey;
    }
    
    .deskripsi img{
        max-width: 50px;
        height: 50px;
    }
    
    .deskripsi p{
        font-size: 3vh;
    }
    
    
    .deskripsi h1{
            font-family: 'Teko', sans-serif;
            font-weight: 900;
            letter-spacing: 1px;
            padding-bottom: 10px;
            color: rgb(0, 0, 58);
            font-size: 37px;
        
    }
    
    #profil {
        padding: 1em;
        max-width: 500px;
    }
    
    #edukasi img{
        width: 70px;
        height: 70px;
    }
    
    #edukasi {
        margin-top: 40px;
        padding: 10px;
        max-width: 500px;
        height: 300px;
        line-height: 10px;
    }
    
    #edukasi h2 {
        
        font-weight: bold;
        letter-spacing: 0px;
        padding-bottom: 10px;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 1px;
    }

    #contact ul li {
        display: block;
        max-width: 300px;
        max-height: 25rem;
        margin-left: -1.5rem;
    }
    
    
    #contact ul li p{
        font-size: 18px;
    }
    
    #contact ul li a img {
        transition: 0.7s;
    }
    
    #contact ul li a img:hover{
        transform: scale(1.5);
        transition: 0.7s;
    }
    
    #contact ul li img{
        width: 40px;
        height: 40px;
    }
    
    #line3 {
        min-height: 0%;
      
    }
    
    #pengalaman {
        max-width: 500px;
        margin-top: 4rem;
        margin-right: 5rem;
        float: none;
        
    }
    
    .list ul li {
        margin-top: 2rem;
        
    }
    
    .list ul li h1{
        font-size: 25px;
        color: rgb(26, 26, 100);
        line-height: 2rem;
    }
    
   
}

/* For mobile phones*/

@media (max-width: 376px){
    .cvku {
        max-width: 90%;
        height: 100%;
        background-color: rgb(236, 236, 236);
        box-shadow: 0px 20px 20px 0px rgb(0, 0, 0);
        border: solid black 5px;
        color: black;
    }
    
    #pict {
        margin-left: 3rem;
        margin-top: 2rem;
        max-width: 0rem;
        max-height: 0px;
        background-color: rgb(113, 113, 113);
        padding-bottom: 5rem;
        
        
    }
    
    #pict img {
        box-shadow: 0px 5px 5px 0px rgb(70, 70, 70);
        max-width: 12rem;
        max-height: 12rem;
    }
    
    .nama {
        max-width: 10rem;
        font-size: 2vh;
        font-family: 'Josefin Sans', sans-serif;
        margin-top: 8rem;
        float: none;
        margin-left: 2rem;
        height: 80px;
    }
    
    .nama span {
        color: rgb(0, 0, 0);
    }

    #title {
        max-width: 400px;
        height: 50px;
        color: rgb(0, 0, 0);
        margin-top: 3.5rem;
        margin-left: 43%;
        font-family: 'Mulish', sans-serif;
        margin-left: 2rem;
        
    }

    #edukasi {
        margin-top: 40px;
        padding: 10px;
        max-width: 500px;
        height: 300px;
        line-height: 2rem;
    }
    
    #edukasi h2 {
        
        font-weight: bold;
        letter-spacing: 0px;
        padding-bottom: 10px;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 1px;
    }
    
    #pengalaman {
        max-width: 500px;
        margin-top: 12rem;
        margin-right: 5rem;
        float: none;
        
    }

    #pengalaman ul li p {
        font-size: 1.4em;
    }
    
    .list ul li {
        margin-top: 2rem;
        
    }
    
    .list ul li h1{
        font-size: 25px;
        color: rgb(26, 26, 100);
        line-height: 2rem;
    }
   

    .deskripsi {
        font-size: 0.9rem;
    }
}